 html{
     background-color: black;
     width:1200px;
     margin:auto;
     font-family: 'Courier New', Courier, monospace;
 }

 body{
     margin:0;
    
 }

 header{
     display: flex;
     background-image: url(img/hero.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     height: 677px;
     width: 100%;
     margin: auto;
     box-shadow: inset 0px 0px 72px 83px;
 }
 


 .hamburger {
    position: relative;
    display: inline-block;
    width: 1.25em;
    height: 0.8em;
    margin-right: 0.3em;
    border-top: 0.2em solid #737373;
    border-bottom: 0.2em solid #737373;
}

.hamburger:before {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0px;
    width: 100%;
    border-top: 0.2em solid #737373;
}


 .dropbtn {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #4B4B4B;
    min-width: 160px;
    
  }
  
  .dropdown-content a {
    color: #737373;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      background-color: rgb(41, 40, 40);}
  
  .dropdown:hover .dropdown-content {
      display: block;}
  
.logo{
    display:block;
    margin:auto;
    width:40%;
    padding-top: 50px;
    
}